@import url(https://fonts.googleapis.com/css?family=Pacifico);
//Variables:
$traslucent-white: rgba(255,255,255,0.3);

//Add variables here:
h1 {
  font-family: Roboto, sans-serif;
  text-align: center;
}

.banner {
  font-family: "Pacifico", cursive;
  height: 400px;
  background-image: url("../img/lemonade.jpg");
  border : {
    top: 4px solid black;
    bottom: 4px solid black;
  }

  .slogan {
    position: absolute;
    border: 4px solid black;
    top: 200px;
    left: 25%;
    width: 50%;
    height: 200px;
    text-align: center;
    background: $traslucent-white;

    span {
      font-size: 24px;
      line-height: 200px;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  font-family: "Pacifico", cursive;

  .icon {
    margin: 2%;
    bottom: 4px solid black;
    font-size: 32px;
  }
}
