@use "./variables/colors" as color;
@use "./variables/spacing" as spacing;

html {
  body {
    margin: 0;
    font-family: Arial;
    color: color.$color-White;
  }

  .container {
    min-height: 100%;
    display: flex;
  }
  p,
  a {
    font-size: 0.75rem;
  }
}

img {
  padding-left: (spacing.$spacing * 30);
  height: 350px;
  width: 550px;
}

.nav {
  width: 15%;
  min-width: 140px;
  color: color.$color-Main;
  padding-top: 55px;
  padding-right: (spacing.$spacing * 30);
  text-align: center;
  h4 {
    -webkit-margin-before: 0;
    margin-left: 50px;
  }
  ul {
    padding-left: (spacing.$spacing * 30);
    list-style: none;
    li {
      font-size: 0.85rem;
    }
  }
}

.main {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: color.$color-Main;
  h1 {
    font-size: 62px;
    -webkit-margin-before: 0;
    padding-top: 40px;
    padding-left: (spacing.$spacing * 30);
  }
  p {
    padding-left: (spacing.$spacing * 30);
    width: 55%;
    min-width: 550px;
  }
  a {
    color: inherit;
    padding-left: (spacing.$spacing * 30);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

video {
  padding-left: (spacing.$spacing * 30);
  width: 50%;
  height: auto;
}
