@import url(https://fonts.googleapis.com/css?family=Pacifico);
//Variables:
$traslucent-white: rgba(255, 255, 255, 0.3);
$icon-square-length: 300px;
$standard-border: 4px solid black;
//Add variables here:
h1 {
  font-family: Roboto, sans-serif;
  text-align: center;
}

.banner {
  font-family: "Pacifico", cursive;
  height: 400px;
  background-image: url("../img/lemonade.jpg");
  border : {
    top: $standard-border;
    bottom: $standard-border;
  }

  .slogan {
    position: absolute;
    border: $standard-border;
    top: 200px;
    left: 25%;
    width: 50%;
    height: 200px;
    text-align: center;
    background: $traslucent-white;

    span {
      font-size: 24px;
      line-height: 200px;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  font-family: "Pacifico", cursive;

  .icon {
    margin: 2%;
    font-size: 32px;
    width: $icon-square-length;
    height: $icon-square-length;
  }
}

